
<div id="vacationCountdown">
  <div class="visibleClock">
  </div>

  <header>
    <h1>till vacation!</h1>
    </header>

 <div id="game">
    <h2>Let's play a game...</h2>
    <p>Below you'll see a series of countdown timers.  As each timer expires you will receive a task.</p>
    <p>Complete the task prior to the expiration of the next timer in the series and you will find yourself closer to your goal.  Fail to complete the task and suffer the consequences.</p>

  </div>
</div>


<div id="firstSurprise">
  <div class="visibleClock">

  </div>

  <div class="hiddenClock">
    <h1>Task 1: Purchase a Lantern.</h1>
  </div>
</div>


<div id="secondSurprise">
  <div class="visibleClock">
    <!-- <h1>This surprise will show up 10 seconds after the first</h1> -->
  </div>

  <div class="hiddenClock">
    <h1>Task 2: Check the box of the tent. If tent stakes are not provided, purchase tent stakes.</h1>
  </div>
</div>

<div id="thirdSurprise">
  <div class="visibleClock">

</div>

<div class="hiddenClock">
  <h1>Task 3: Check the dimensions of the tent.  Purchase a tarp that is equal to or greater than the dimensions of the floor of the tent.</h1>
</div>
</div>

<div id="fourthSurprise">
  <div class="visibleClock">

</div>

<div class="hiddenClock">
  <h1>Task 4: Purchase roasting sticks to cook hot dogs and smores on the fire.</h1>
</div>
</div>

<div id="fifthSurprise">
  <div class="visibleClock">

</div>

<div class="hiddenClock">
  <h1>Task 5: Purchase a cast iron skillet.</h1>
</div>
</div>

<div id="sixthSurprise">
  <div class="visibleClock">

</div>

<div class="hiddenClock">
  <h1>Task 6: Research fun recipes for grill and fire. Research Myrtle Beach and find fun places to visit and things to do. Prepare for Task 7, the most important of all.</h1>
</div>
</div>

<div id="seventhSurprise">
  <div class="visibleClock">

</div>

<div class="hiddenClock">
  <h1>Task 7: GET TYLER!!!!</h1>
</div>
</div>

<div class="container">

  <div class="row">

    <div class="list-group">

      <div class="col-md-6">
        <div class="list-group-item">
          <div class="row-picture">
            <img class="circle" src="http://vignette2.wikia.nocookie.net/en.futurama/images/d/da/Fry_Looking_Squint.jpg/revision/latest/zoom-crop/width/240/height/240?cb=20110701192358" alt="icon">
          </div>
          <div class="row-content">
            <h4 class="list-group-item-heading">Tyler Saklad</h4>

            <p class="list-group-item-text">Creator</p>
          </div>
        </div>
        <div class="list-group-separator"></div>
      </div>

      <div class="col-md-6">
        <div class="list-group-item">
          <div class="row-picture">
            <img class="circle" src="https://imgflip.com/s/meme/Futurama-Zoidberg.jpg" alt="icon">
          </div>
          <div class="row-content">
            <h4 class="list-group-item-heading">Joseph Dillon</h4>

            <p class="list-group-item-text">Mentor and Co-creator</p>
          </div>
        </div>
        <div class="list-group-separator"></div>
      </div>

    </div>


  </div>

</div>
