<h1>Countdown Clock</h1>
<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>

<div id="vacationcountdown">
  <div class="visible">
    <h1>till vacation!</h1>
</div>

<div id="game">
  <div class="visible">
    <h2>Let's play a game...</h2>
      <p>Below you'll see a series of countdown timers.  As each timer expires you will receive a task.</p>
      <p>Complete the task prior to the expiration of the next timer in the series and you will find yourself closer to your goal.  Fail to complete the task and suffer the consequences.</p>
</div>


<div id="firstSurprise">
  <div class="visible">
    <h1>Things once hidden...</h1>
  </div>

  <div class="hidden">
    <h1>Shall soon be revealed!</h1>
  </div>
</div>


<div id="secondSurprise">
  <div class="visible">
    <h1>This surprise will show up 10 seconds after the first</h1>
  </div>

  <div class="hidden">
    <h1>It worked</h1>
  </div>
</div>
