@import "flipclock";


.hidden {
  display: none;
}
h1, h2, p {
  text-align: center;
}

#game{
  background-color: #488;
  border-radius: 25px;
}


body{
    text-align: center;
    background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100;
}

.visible{
  left: 25%;
  right: 25%;
}

.hidden h1{
  color: #396;
  font-weight: 100;
  font-size: 30px;
  margin: 40px 0px 20px;
}

header h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  padding-bottom: 30px;
}

#game h2, p{
  color: beige;
  font-weight: 100;
}
#game h2{
  font-size: 30px;
}

#game p{
  font-size: 20px;
}

#game{
  padding-bottom: 40px;
}

#vacationCountdown{
  padding-top: 40px;
}

#firstSurprise, #secondSurprise, #thirdSurprise, #fourthSurprise, #fifthSurprise, #sixthSurprise, #seventhSurprise{
  padding: 40px 0px 40px;
}
